@model  WebApplication2.Models.Credentials

@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>

<div class="container">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <fieldset>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @if (@ViewBag.Message != null)
            {
                <div style="border: 1px solid red">
                    @ViewBag.Message
                </div>
            }
            <table  class="table table-striped table-bordered table-list" style="width: auto">
                <tr>
                    <td>@Html.LabelFor(a => a.uname)</td>
                    <td>@Html.TextBoxFor(a => a.uname)
                   @Html.ValidationMessageFor(a => a.uname)</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(a => a.pass)
                    </td>
                    <td>
                        @Html.PasswordFor(a => a.pass)
                        @Html.ValidationMessageFor(a => a.pass)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input class=" btn btn-primary"  type="submit" value="Login" />
                    </td>
               
                </tr>
            </table>
        </fieldset>
    }
</div>