@model WebApplication2.Models.Users


<div class="modal-dialog" id="ModalPopUp">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">@ViewBag.Message</h4>
        </div>
        <form method="POST" , class="form-horizontal" id="ModalForm">
            <div class="modal-body">
                @Html.TextBoxFor(model => model.id, new { @class = "hidden" })
                @Html.TextBoxFor(model => model.uname, new { @class = "hidden" })
                @Html.TextBoxFor(model => model.access, new { @class = "hidden" })
                <div class="form-horizontal" style="padding-bottom:5px">
                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.email, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.designation, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.designation, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.designation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="modal-footer" style="padding:5px">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="button" class="btn btn-default" id="close" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" id="confirmok1" data-id=@(@Model.id!= null ? @Model.id : 0) value="Save changes" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#close").click(function () {
            window.location.reload();

        });
        $(".btn-primary").click(function () {
            var std = $(this).attr("data-id");
            var std1 = document.getElementById("name").value;
            var std2 = document.getElementById("email").value;
            var std3 = document.getElementById("designation").value;
            var std4 = document.getElementById("uname").value;
            var std5 = document.getElementById("access").value;
            var title = $(this).attr("title");
            $("#ModalPopUp").modal({
                backdrop: "static",
                keyboard: false
            })

                .on("click", "#confirmok1", function (e) {
                    console.log($(this).attr("data-name"));

                    console.log("{id: " + JSON.stringify(std) + ", name: " + JSON.stringify(std1) + ", email: " + JSON.stringify(std2) + ", designation: " + JSON.stringify(std3) + ", uname: " + JSON.stringify(std4) + ", access: " + JSON.stringify(std5) + "}")
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Addrecord")",
                    data: "{id: " + JSON.stringify(std) + ", name: " + JSON.stringify(std1) + ", email: " + JSON.stringify(std2) + ", designation: " + JSON.stringify(std3) + ", uname: " + JSON.stringify(std4) + ", access: " + JSON.stringify(std5) + "}",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        $("#ModalPopUp").modal("hide");
                        setTimeout(function () {
                            window.location.reload();


                        }, 500); 

                    },

                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                        alert("oops, something bad happened")

                    }

                });

            });

        });



        });



</script>

